/* CSS da tela admin */

:root {
    --cor-fundo: #e2f0d9;       /* Verde claro funda da tela */
    --cor-destaque: #3e8c3f;    /* Verde padrão para titulos, subtitulos */
    --cor-escuro: #2f2f2f;      /* Preto caso necessite */
    --cor-branco: #fff;         /* Branco para textos */
  }

  /* Forma global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Design do corpo, colocando no centro e configurações de toda a cor da tela */
body {
    background-color: var(--cor-fundo);
    text-align: center;
    margin: 0;
    padding: 0;
}

.h2{
    color: var(--cor-destaque);
    font-size: 1.5em;
    margin: 5px;
    padding: 0px;
}

header {
    background-color: var(--cor-fundo);
    padding: 10px;
    border-bottom: 2px solid var(--cor-destaque, #3e8c3f);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Modificações do header com bootstrap */

/* Configs da logo */
.logo {
    max-height: 70px;
    width: auto;
}

/* Deixando a logo alinhada */
.navbar-brand{
    margin-right: auto;
}

/* Modificações da Navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

/* Criando uma div onde manipula os links */
.links-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Modificações do botão de sair */
.sair {   
    color: var(--cor-branco);
    background-color: var(--cor-destaque);
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Modificações do botão de sair quando passar o mouse */
.sair:hover {
    background-color: var(--cor-fundo);
    color: var(--cor-destaque);
}


/* Modificações dos links do nav */
nav a, .nav-item {
    text-decoration: none;
    color: var(--cor-destaque);
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s;
}

/* Modificações na nav quando passar o mouse*/
nav a:hover {
    color: var(--cor-destaque);
    transform: translateX(5px);
}


/* Seções principais */
main {
    padding: 20px;
    text-align: center;
}

main h2{
    color: var(--cor-destaque);
}


/* ----- Modificando a tabela de dados */

/* Config Caixa de admin */
h2 {
    color: #3e8c3f;
    margin-bottom: 20px;
    text-align: center;
}

/* Style para a edição de dados */
#form-editar-usuario {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--cor-fundo);
    border-radius: 5px;
}

#form-editar-usuario h3 {
    color: var(--cor-destaque);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#form-edit-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#form-edit-usuario label {
    font-size: 14px;
    font-weight: bold;
    color: var(--cor-escuro);
    margin-right: 5px;
}

#form-edit-usuario input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: auto;
    min-width: 150px;
}

#form-edit-usuario button {
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    border: 1px solid var(--cor-destaque);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form-edit-usuario button[type="submit"] {
    background-color: var(--cor-destaque);
    color: #ffffff;
}

#form-edit-usuario button[type="submit"]:hover {
    background-color: var(--cor-escuro);
}

#form-edit-usuario #cancelar-edicao {
    background-color: #ffffff;
    color: var(--cor-destaque);
}

#form-edit-usuario #cancelar-edicao:hover {
    background-color: var(--cor-fundo);
}


/*  */
/* Estilos da Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* config do head da tabela */
thead {
    background-color: #3e8c3f;
    color: #ffffff;
}

/* Configuração do th da tabela */
thead th {
    padding: 15px;
    font-weight: bold;
    text-align: left;
}

/* Efeito de uma cor sim e não para o body da tabela*/
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* config geral do td do body tabela */
tbody td {
    padding: 15px;
    text-align: left;
}

/* Ajustando o espaçamento das colunas onde tem img*/
td.td-img {
    width: 50px;
    padding: 5px;
}

/* Tirando todas as formatações dos botoes de editar e excluir */
.botao {
    background: none;
    border: none;
    cursor: pointer;
}

/* tamanho das img dos botoes*/
.botao img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

/* Div da lista de cidades config */
.lista-usuarios {
    margin: 15px 0px;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    background-color: #c9d7c0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Config da tabela, tamanho, marge e tipo */
.lista-usuarios table {
    width: 90%;
    margin: 5px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Config dos th e td da lista */
.lista-usuarios th, .lista-usuarios td {
    padding: 12px;
    text-align: center;
    border: 1px solid var(--cor-escuro);
}

.lista-usuarios th {
    background-color: var(--cor-escuro);
    color: var(--cor-branco);
}

/* Config geral do footer, como o fundo, cor, tamanho, espaçamento */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-fundo);
    color: var(--cor-escuro);
    font-size: 1em;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid var(--cor-destaque);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 2px solid var(--cor-destaque);
}

/* Modificações do footer, deixando vertical, alinhados */
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    min-width: 150px;
}

/* Modifica o titulo do footer, cor, fonte, espaçamento */
.footer h3 {
    color: var(--cor-destaque);
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Modifica os links do footer, cor, fonte, espaçamento */
.footer a {
    color: var(--cor-escuro);
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 5px;
    transition: color 0.3s, transform 0.3s;
}

/* Modifica os links ao passar o mouse, cor e animação */
.footer a:hover {
    color: var(--cor-destaque);
    transform: translateX(5px);
}

/* Modifica ao clicar, como cor e animação */
.footer a:active {
    color: var(--cor-destaque);
    transform: translateX(3px);
}

/* Estilização da seção .sobre */
.sobre {
    color: var(--cor-escuro);
    flex-basis: 100%; 
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

@media (max-width: 1024px) {
    nav {
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .adicionar-usuarios {
        flex-direction: column;
    }

    .adicionar-usuarios input[type="text"] {
        width: 100%;
    }
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    /* Ajustando o cabeçalho */
    header {
        padding: 10px;
    }

    /* Diminuindo a logo para telas menores */
    .logo {
        max-height: 40px;
    }

    /* Diminuindo a fonte do navegador */
    nav a {
        font-size: 0.9em;
    }

    /* Ajustando outros itens */
    .lista-usuarios {
        width: 100%;
        margin: 0 auto;
    }

    /* Ajustando toda a tabela */
    .lista-usuarios table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    /* mudando o tamanho e ajustando fonte, quebra de linhas quando diminuir a tela */
    .lista-usuarios th, .lista-usuarios td {
        padding: 7px; 
        font-size: 0.9em;
        word-wrap: break-word; /* Quebra o texto que passar as linhas */
    }
}

/*  */
@media (max-width: 480px) {
    /* Ajustando cabeçalho*/
    header {
        padding: 8px;
    }

    /* Diminuindo a logo para telas menores */
    .logo {
        max-height: 30px;
    }

    /* Deixando o nav responsivo */
    nav a {
        font-size: 0.8em;
    }

    /* Itens dentro do container de pesquisa */
    .lista-usuarios {
        width: 100%;
        margin: 0 auto; /* Centraliza */
    }

    /* Modificando totalmente a tabela e deixando o layout menor e responsivo */
    .lista-usuarios table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    /* Diminuindo fonte, quebrando linha do conteudo da tabela */
    .lista-usuarios th, .lista-usuarios td {
        padding: 6px;
        font-size: 0.9em;
        word-wrap: break-word; /* Quebra o texto que passar as linhas */
    }

    /* deixando os itens do rodape em coluna */
    footer {
        flex-direction: column;
        padding: 10px;
    }

    .footer h3 {
        font-size: 1em;
    }
}


