:root {
    --cor-fundo: #e2f0d9;       /* Verde claro funda da tela */
    --cor-destaque: #3e8c3f;    /* Verde padrão para titulos, subtitulos */
    --cor-escuro: #2f2f2f;      /* Preto caso necessite */
    --cor-branco: #fff;         /* Branco para textos */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Design do corpo, colocando no centro e configurações de toda a cor da tela */
body {
    background-color: var(--cor-fundo);
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Design do titulo da pagina interno */
h1{
    color: var(--cor-destaque);
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h2{
    color: var(--cor-destaque);
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

h3{
    color: var(--cor-destaque);
    font-size: 1em;
    margin: 0;
    padding: 0;
}

ul {
    color: var(--cor-destaque);
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

ul li a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do item da lista */
}

/* HEAD, NAV ---------------*/

/* Modificando o header */
header {
    background-color: var(--cor-fundo);
    padding: 20px;
    border-bottom: 2px solid var(--cor-destaque, #3e8c3f);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Modificações da Navegação */
nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

/* Modificações do botão de sair */
.sair {   
    color: var(--cor-branco);
    background-color: var(--cor-destaque);
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Modificações do botão de sair quando passar o mouse */
.sair:hover {
    background-color: #2c6e31;
}


/* Modificações dos links do nav */
nav a {
    text-decoration: none;
    color: var(--cor-destaque);
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s;
}

/* Modificações na nav quando passar o mouse*/
nav a:hover {
    color: var(--cor-destaque);
    transform: translateX(5px);
}

/* Seções principais */
main {
    padding: 20px;
    text-align: center;
}


/* ----- Modificando a tabela de dados */

/* Div da lista de cidades config */
.lista-cidades {
    margin: 15px 0;
}

/* Config da tabela, tamanho, marge e tipo */
.lista-cidades table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Config dos th e td da lista */
.lista-cidades th, .lista-cidades td {
    padding: 12px;
    text-align: center;
    border: 1px solid var(--cor-escuro);
}

.lista-cidades th {
    background-color: var(--cor-escuro);
    color: var(--cor-branco);
}

/* Fundo dos nomes das cidades, talvez remover */
.lista-cidades tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Cor para grave */
.vermelho {
    background-color: #ffdddd;
    color: #d9534f;
}

/* Cor para mediano */
.amarelo {
    background-color: #fff3cd;
    color: #856404;
}

/* Cor para razoavel */
.verde {
    background-color: #d4edda;
    color: #155724;
}

.orientacoes::after {
    margin: 20px 0;
    color: orange;
    content: "Saiba mais!";
    font-weight: bold;
}


/* Estilização do video */
.video {
    position: relative;
    background-color: var(--cor-fundo);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    border-top: 2px solid var(--cor-destaque, #3e8c3f);
    padding-bottom: 40%;
}

.iframe {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: none;
}

/* Tabela Orientações */
.lista-orientacao {
    margin: 15px 0;
}
  
/* Modificações na tabela com sombra e tamanho */
.lista-orientacao table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
  
/* Modificações nas colunas th e td */
.lista-orientacao th, .lista-orientacao td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    border-bottom: none;
}

/* Modificações na coluna th e aumentando a  font*/
.lista-orientacao th {
    background-color: var(--cor-escuro);
    color: var(--cor-branco);
    font-size: 1.2em;
    font-weight: bold;
}
  
/* Cor de fundo mais clara para as linhas pares, possível remoção */
.lista-orientacao tr:nth-child(even) {
    background-color: #f5f5f5; 
}
  
/* Adiciona a borda inferior na última linha */
.lista-orientacao tr:last-child td {
    border-bottom: 1px solid #ddd;
}


/* --------------- */

/* Fazendo algumas modificações externas no player de audio */
audio {
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--cor-audio-borda);
    border-radius: 5px;
    background-color: var(--cor-audio-fundo);
    padding: 10px;
}

/* Configurações específicas para o player */
audio::-webkit-media-controls-panel {
    background-color: var(--cor-controles);
    border-radius: 5px;
}

/* RODAPE --------------- */

/* Config geral do footer, como o fundo, cor, tamanho, espaçamento */
footer {
    background-color: var(--cor-fundo);
    color: var(--cor-escuro);
    font-size: 1em;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid var(--cor-destaque);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 2px solid var(--cor-destaque);
    position: relative;
}

/* Modificações do footer, deixando vertical, alinhados */
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    min-width: 150px;
}

/* Modifica o titulo do footer, cor, fonte, espaçamento */
.footer h3 {
    color: var(--cor-destaque);
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Modifica os links do footer, cor, fonte, espaçamento */
.footer a {
    color: var(--cor-escuro);
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 5px;
    transition: color 0.3s, transform 0.3s;
}

/* Modifica os links ao passar o mouse, cor e animação */
.footer a:hover {
    color: var(--cor-destaque);
    transform: translateX(5px);
}

/* Modifica ao clicar, como cor e animação */
.footer a:active {
    color: var(--cor-destaque);
    transform: translateX(3px);
}

/* Estilização da seção .sobre */
.sobre {
    color: var(--cor-escuro);
    flex-basis: 100%; 
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

/* Para telas menores que a padrão algumas modific, além de adaptações de fonte e tabelas */
@media (max-width: 700px) {
    header {
        padding: 10px;
    }

    nav {
        align-items: center;
        gap: 10px; /* Espaçamento entre os itens */
    }

    nav a {
        font-size: 0.9em;
    }

    .sair {
        padding: 8px 16px; /* Reduz o tamanho do botão */
        font-size: 0.9em;
    }

    .lista-cidades table, .lista-orientacao table {
        width: 100%;
        margin: 0 auto; /* Centraliza horizontalmente */
        table-layout: fixed;
    }

    .lista-cidades th, .lista-cidades td, .lista-orientacao th, .lista-orientacao td {
        padding: 8px;
        font-size: 0.9em;
        word-wrap: break-word; /* Quebra o texto que passar as linhas */
    }

    /* config para o rodape */
    footer {
        flex-direction: column; 
        padding: 10px;
    }

    .footer {
        align-items: center; 
        margin: 5px;
    }

    .footer h3 {
        font-size: 1em;
    }

    .footer a {
        font-size: 0.8em;
    }
}

/* Deixando responsivo para telas menores que essa, modificando tabelas, nav, fonte */
@media (max-width: 480px) {
    header {
        padding: 8px;
    }

    nav a {
        font-size: 0.8em;
    }

    .lista-cidades table, .lista-orientacao table {
        width: 100%;
        margin: 0 auto;
        table-layout: fixed;
    }

    .lista-cidades th, .lista-cidades td, .lista-orientacao th, .lista-orientacao td {
        padding: 6px;
        font-size: 0.8em;
        word-wrap: break-word; /* Quebra o texto que passar as linhas */
    }

    /* config para o rodape */
    footer {
        flex-direction: column;
        padding: 10px;
    }

    .footer h3 {
        font-size: 0.9em;
    }

    .footer a {
        font-size: 0.7em;
    }
}
